.detail_container {
  /* dimension */
  width: 100vw;
  height: 93vh;
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_cnt {
  /* dimension */
  width: 30vw;
  height: 70px;
  text-align: center;
  /* background */
  background-color: var(--red);
  border-radius: 30px 30px 0 0;
}

.title_name {
  /* text */
  font-size: 42px;
  font-weight: 400;
  color: var(--white);
}

.items_container {
  /* dimension */
  width: 60vw;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background */
  background-color: var(--white);
  border-radius: 30px;
}

.items_container .img-detail {
  width: 500px;
  height: 500px;
  margin: auto;
}

.detail-card {
  /* dimension */
  height: 600px;
  width: 600px;
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* background */
  background-color: var(--yellow);
  border-radius: 30px;
}

.detail-card .detail-card_number {
  display: block;
  font-size: 100px;
  color: var(--white);
}

.detail-card h3 {
  margin-bottom: 50px;
  display: block;
  font-size: 36px;
  color: var(--red);
}

.detail-card p {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: var(--blue);
}

.detail-card .detail-spec_cnt {
  /* dimension */
  width: 300px;
  /* text */
  font-size: 24px;
  line-height: 28px;
  /* flexbox */
  display: flex;
  justify-content: center;
  gap: 20px;
  /* background */
  background-color: var(--white);
  border-radius: 15px;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.types .detail-types {
  background-color: var(--red);
  padding: 0 15px;
  margin-top: 50px;
  border-radius: 15px;
}

.types .detail-types span {
  display: block;
  /* text */
  font-size: 24px;
  line-height: 28px;
  color: var(--white);
}

/* BUTTON */
.back {
  width: 180px;
  height: 30px;

  margin-top: 50px;
  background: var(--blue);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Kanit;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
}

.back:hover {
  background-color: var(--yellow);
  color: var(--blue);
  font-weight: 500;
  border: 2px solid var(--blue);
}
