.detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(43, 43, 43, 0.575);
  border-radius: 4px;
  height: 600px;
  width: 600px;
}

.detail-card img {
  height: 250px;
  width: 250px;
}
