.create_container {
  /* dimension */
  height: 93vh;
  width: 50vw;
  margin: 0 auto;
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  backdrop-filter: blur(2px);
}

.create-title {
  /* dimension */
  width: 300px;
  height: 50px;
  padding: 5px;
  /* text */
  font-family: Kanit;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  /* background */
  background: var(--blue);
  border-radius: 20px 20px 0px 0px;
}

.form_container {
  /* dimension */
  height: 60vh;
  width: 35vw;
  border-radius: 25px;
  padding: 25px;
  /* background */
  background-color: var(--yellow);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

.labelInput_cnt {
  /* dimension */
  height: 50px;
  margin: 10px;
  padding: 0 10px;
  border-radius: 20px;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  /* background */
  background-color: var(--white);
}

.labelInput_cnt label {
  /* text */
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: var(--blue);
}

.labelInput_cnt input {
  /* default */
  outline: none;
  border: none;
  -webkit-appearance: none;
  /* dimension */
  height: 30px;
  width: 85%;
  padding: 0 10px;
  border-radius: 20px;
  /* box-shadow: -4px -4px 10px rgb(0 0 0 / 5%); */
}

.labelInput_cnt input:focus {
  border: 2px solid var(--yellow);
  -webkit-appearance: none;
}

.types-select {
  /* default */
  border: none;
  /* appearance: none; */
  outline: 0;
  box-shadow: none;
  background-image: none;
  /* dimension */
  cursor: pointer;
  margin: 0 10px;
  padding: 0 6px 0 0;
  /* text */
  font-family: Kanit;
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  /* background */
  background: var(--blue);
  border-radius: 30px;
}

.types-select:hover {
  font-size: 14px;
  font-weight: 200;
}

/* ERRORS */
.input-errors {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  width: 300px;
  color: var(--red);
}

/* BUTTON CLEAR */
.create-clear {
  /* dimension */
  display: "inline-block";
  width: 100px;
  height: 30px;
  margin-top: 20px;
  /* text */
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 20px;
}

.create-clear:hover {
  color: #fff;
  background-color: var(--red);
  cursor: pointer;
}

.create-cnt_btns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.btn-create {
  /* dimension */
  display: "inline-block";
  width: 120px;
  height: 40px;
  margin: 0 10px;
  /* text */
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 20px;
}

.btn-create:hover {
  font-weight: 500;
  color: var(--blue);
  background-color: var(--yellow);
  cursor: pointer;
}

.position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position-btn {
  position: absolute;
  left: 40px;
  top: 390px;
  /* text */
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  color: var(--blue);
}

.position-btn button {
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  /* default */
  border: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}

.position-btn button:hover {
  border: 1px solid var(--red);
}

/* VALIDATE */

.display-none {
  display: none;
}
