.buttons_container {
  /* dimension */
  width: 100%;
  height: 80px;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* background */
  background: var(--blue);
  border-radius: 20px 20px 0px 0px;
}

.btn-all {
  /* dimension */
  width: 100px;
  height: 100%;
  padding: 4px 16px;
  /* background */
  background: var(--yellow);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  /* text */
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  color: var(--blue);
}

.btn-all:hover {
  background: var(--blue);
  color: var(--yellow);
  font-weight: 600;
}

.btns {
  /* dimension */
  height: 30px;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* background */
  /* background: var(--blue); */
  border-radius: 30px;
}

.select-btns {
  /* default */
  border: none;
  /* appearance: none; */
  outline: 0;
  box-shadow: none;
  background-image: none;
  /* dimension */
  cursor: pointer;
  /* text */
  font-family: Kanit;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  /* background */
  /* background: none; */
  background: var(--blue);
  border-radius: 30px;
}

.select-btns:hover {
  color: var(--yellow);
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .buttons_container {
    flex-wrap: wrap;
    align-content: center;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .buttons_container {
    flex-wrap: wrap;
    align-content: center;
    gap: 8px;
  }
  .select-btns {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .buttons_container {
    flex-wrap: wrap;
    align-content: center;
    gap: 0;
  }
}
