header {
  /* dimension */
  height: 7vh;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background */
  background: var(--blue);
  border-radius: 0 0 30px 30px;
}
.navbar_container {
  /* dimension */
  width: 70vw;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* font */
  font-size: 24px;
  font-weight: 600;
}

.list a {
  color: var(--white);
  padding: 0px 10px;
}

.list a.active {
  color: #000;
}
.list a:hover {
  color: #84cabf;
}

.list a img {
  width: 80px;
}
