:root {
  --light-blue: #06d69e70;
  --blue: #073b4c;
  --orange: #ef8200;
  --yellow: #ffd166;
  --white: rgb(235, 235, 235);
  --black: rgb(30, 30, 30);
  --red: #ef476f;
  --grey: #c5c5c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  background: var(--light-blue);
  background-size: cover;
  /* background: linear-gradient(180deg, #84cabf 0%, rgba(132, 202, 191, 0) 100%); */
}

a {
  text-decoration: none;
}
